<style>
  .navbar { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
</style>
<nav>
  <ul class='navbar'>
    <li class='logout-button'>
      <form action='/logout' method='post'>
        <button type='submit'>Logout</button>
      </form>
    </li>
  </ul>
</nav>