{{> message}}
<form action='/todos/{{todo.id}}?_method=PUT' method='post'>
  <input type='checkbox' name='isComplete' {{#if todo.isComplete}}checked{{/if}}/>
  <input type='text' name='name' value='{{todo.name}}' />
  <button type='submit'>Save</button>
  <a href='/todos'>Back</a>
</form>